{
	"usbreceiver":{
		"vid":"0x147a",
		"pid":"0xe019"
	},
	"lirc":{
		"socket":"/var/run/lirc/lircd"
	},
	"codes":[
		{
			"code": [8, 247, 0, 255],
			"comment": "button1",
			"scancode": "0x00007bfe",
			"repeat": "0",
			"keysym": "KEY_1",
			"remote": "mceusb"
		},
		{
			"code": [8, 247, 1, 254],
			"comment": "button2",
			"scancode": "0x00007bfd",
			"repeat": "0",
			"keysym": "KEY_2",
			"remote": "mceusb"
		},
		{
			"code": [8, 247, 2, 253],
			"comment": "button3",
			"scancode": "0x00007bfc",
			"repeat": "0",
			"keysym": "KEY_3",
			"remote": "mceusb"
		}
	]
}

