{
	"usbreceiver":{
		"vid":"0x147a",
		"pid":"0xe019"
	},
	"lirc":{
		"socket":"/var/run/lirc/lircd"
	},
	"codes":[
		{
			"code": [8, 247, 0, 255],
			"sendmessage": "button1"
		},
		{
			"code": [8, 247, 1, 254],
			"sendmessage": "button2"
		},
		{
			"code": [8, 247, 2, 253],
			"sendmessage": "button3"
		}
	]
}

